* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #2c2c2c;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

select:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=checkbox]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: 0 0 6px #14ffec !important;
          box-shadow: 0 0 6px #14ffec !important;
}

select,
textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=checkbox],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  border: 1px solid #14ffec !important;
  color: #fff !important;
  background-color: #292929;
}

select:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=checkbox]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  background-color: #1f1f1f;
}

.dropdown-toggle::after {
  display: none !important;
}

.row {
  width: 140px;
  position: fixed;
  padding: 10px;
  border-radius: 15px;
  background-color: #3d3d3d;
  height: 100vh;
  text-align: center;
}

.row #mainNav .navbar-brand {
  font-size: 2rem;
}

.row #mainNav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row #mainNav .nav .nav-item {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 10px 0;
  background-color: transparent;
  color: #fff !important;
}

.row #mainNav .nav .nav-item:hover {
  background-color: #4b4b4b;
}

.row #mainNav .nav .nav-item i {
  font-size: 30px;
}

.row #mainNav .nav .nav-item span {
  font-size: 12px;
  margin-top: 8px;
}

.row #mainNav .nav .nav-item .nav-link {
  color: #fff;
}

.row #mainNav .nav-pills .nav-link.active,
.row #mainNav .nav-pills .show > .nav-link {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #14ffec;
  color: #3d3d3d;
  -webkit-box-shadow: 0 0 10px #14ffec;
          box-shadow: 0 0 10px #14ffec;
}

.container {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .incomesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.container .incomesList .list-item {
  width: 32%;
  background-color: #3f3f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 15px;
  margin: 5px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #222222;
          box-shadow: 0 0 10px #222222;
}

.container .incomesList .list-item div {
  margin: 0 0 10px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container .incomesList .list-item span {
  color: #0d7377;
}

.container .incomesList .list-item .info {
  width: 100%;
}

.container .incomesList .list-item .info .amount {
  word-break: break-all;
}

.container .incomesList .list-item .deleteBtn {
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container .incomesList .list-item .deleteBtn button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.container .incomesList .list-item .deleteBtn button:hover {
  -webkit-box-shadow: 0 0 5px #fb4e4e;
          box-shadow: 0 0 5px #fb4e4e;
}

.container .incomesList .list-item .deleteBtn button i {
  pointer-events: none !important;
  margin-right: 3px;
}

.container .incomesList .list-item .descriptionBox {
  width: 100%;
  margin-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .incomesList .list-item .descriptionBox .description {
  border-radius: 10px;
  background-color: #4b4b4b;
  -webkit-box-shadow: 0 0 10px #292929;
          box-shadow: 0 0 10px #292929;
  padding: 5px 10px;
  height: auto;
  word-break: break-all !important;
  margin: 7px 0 7px 0;
}

.modal-content {
  background-color: rgba(41, 41, 41, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
}

.modal-content .btn-close {
  background-color: #fb4e4e;
}

.modal-content .form-check-input:checked {
  background-color: #fb4e4e;
  border-color: #fb4e4e;
  -webkit-box-shadow: 0 0 6px #fb4e4e !important;
          box-shadow: 0 0 6px #fb4e4e !important;
  border: 1px solid #fb4e4e !important;
}

.modal-content .form-check-input:focus {
  -webkit-box-shadow: 0 0 6px #fb4e4e !important;
          box-shadow: 0 0 6px #fb4e4e !important;
}

.modal-content label {
  color: #7e7e7e;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
  background-color: #292929;
  color: #fff;
}

.modal-content input:focus,
.modal-content select:focus,
.modal-content textarea:focus {
  background-color: #1f1f1f;
}

.modal-content textarea {
  resize: none !important;
}

.homeContainer {
  height: 100vh;
}

.homeContainer #piechart {
  width: 50%;
  height: 500px;
  background-color: #3f3f3f;
  -webkit-box-shadow: 0 0 20px #242424;
          box-shadow: 0 0 20px #242424;
  margin-top: 200px;
  border-radius: 15px;
}

.homeContainer #piechart div div:nth-child(1) {
  width: 100% !important;
}

.homeContainer #piechart div svg {
  width: 100%;
  height: 100%;
}

.homeContainer #piechart div svg g text {
  font-size: 20px;
  color: #fff !important;
  fill: #66ff99;
}

.homeContainer #piechart div svg g:nth-child(2) {
  height: 200px;
}

.homeContainer #piechart rect {
  width: 100%;
  height: 400;
  stroke: none;
  stroke-width: 0;
  fill: transparent;
}

.userInfos {
  width: 400px;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userInfos .info {
  width: 100%;
  margin: 20px 0;
  padding: 15px;
}

.userInfos .info span {
  font-size: 20px;
  font-weight: 600;
  color: #0d7377;
  margin-right: 20px;
}

.userInfos .info div {
  font-size: 26px;
  font-weight: 800;
  color: #66ff99;
}
/*# sourceMappingURL=style.css.map */